[submodule "vendor/Vulkan-Headers"]
	path = bort-vma/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "vendor/VulkanMemoryAllocator"]
	path = bort-vma/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
